OAUTH_BASE_URL=https://ims-na1.adobelogin.com/ims/token/
IO_MANAGEMENT_BASE_URL=https://api.adobe.io/events/

OAUTH_CLIENT_ID=...
OAUTH_CLIENT_SECRET=...
OAUTH_TECHNICAL_ACCOUNT_ID=...
OAUTH_TECHNICAL_ACCOUNT_EMAIL=...
OAUTH_ORG_ID=...
OAUTH_SCOPES=...
OAUTH_HOST=...

IO_CONSUMER_ID=...
IO_PROJECT_ID=...
IO_WORKSPACE_ID=...

COMMERCE_BASE_URL=https://us.example.com/
COMMERCE_CONSUMER_KEY=...
COMMERCE_CONSUMER_SECRET=...
COMMERCE_ACCESS_TOKEN=...
COMMERCE_ACCESS_TOKEN_SECRET=...
